export REDIS_HOST = "localhost"
export REDIS_PORT = "6379"
export REDIS_USERNAME = "myuser"
export REDIS_PASSWORD = "mypassword"

export REDIS_HOST_TEST="localhost"
export REDIS_PORT_TEST="6380"
export REDIS_USERNAME_TEST="myuser"
export REDIS_PASSWORD_TEST="mypassword"